IP_MEMORIA=127.0.0.53
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
RETARDO_ACCESO_BLOQUE=15000
PATH_SUPERBLOQUE=/home/utnso/tp-2023-1c-Los-operadores/FileSystem/superbloque.dat
PATH_BITMAP=/home/utnso/tp-2023-1c-Los-operadores/FileSystem/bitmap.dat
PATH_BLOQUES=/home/utnso/tp-2023-1c-Los-operadores/FileSystem/bloques.dat
PATH_FCB=/home/utnso/tp-2023-1c-Los-operadores/FileSystem/fcb